body {
   background-image: url("imagenes_P2/fondo.JPG");
   background-repeat: repeat;
   text-align: center;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   color: antiquewhite;
}
h3 {
   color: rgb(144, 214, 214);
   font-size: 30px;
   font-weight: 600;
  
}
h4 {
   color: brown;
   
}