body {
    background-image: url("productos/fondo.JPG");
    background-repeat: repeat;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}
h3 {
    color: aqua;
    font-size: 20px;

}