body{
  background: radial-gradient(rgb(113, 252, 159), rgb(247, 198, 247),white);
}
h1 {
    width: 93;
    padding: 20px;
    background:radial-gradient(rgb(179, 248, 250),white) ;
    border-radius: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 107, 107);
  }

.blue {
    color: rgb(26, 184, 184);
}

.red {
  color: red;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 192, 164);
    width: 60%;
    padding: 20px;
}
  #display {
      border: 2px solid lightblue;
      padding: 10px;
  }

  #left{
    width: 60%;
    border: 6px solid rgb(179, 248, 250);
    float:left;
    background-color: azure;
    
  }
  #right{
    width: 30%;
    border: 6px solid rgb(179, 248, 250);
    float: right;
    background-color: azure;
  }